<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="header" class="top-bar">
        <form th:if="${email != null and showSearch != false}" action="/user/search" method="get"
            class="search-wrapper">
            <span class="search-icon">🔍</span>
            <input type="text" name="q" placeholder="What do you want to listen to?" onkeyup="handleSearch(this)"
                th:value="${query}">
        </form>
        <div th:if="${email != null}" class="user-info-container">
            <div class="user-profile-mini">
                <span th:text="${name != null ? name : email}">John Doe</span>
                <div class="mini-avatar">
                    <img th:if="${profileImageUrl != null}" th:src="${profileImageUrl}" alt="Profile">
                    <span th:if="${profileImageUrl == null}">👤</span>
                </div>
                <a href="/logout" class="logout" style="margin-left:8px; margin-right:8px; font-weight:700;">Logout</a>
            </div>
        </div>
    </div>
</body>

</html>